// Icon Resource Definition
#define MAIN_ICON                       102

#if defined(_DEBUG)
MAIN_ICON               ICON                    "undund_qK6_icon.ico"
#else
MAIN_ICON               ICON                    "undund_qK6_icon.ico"
#endif
